@import url("./styles.css");

.header {
	position: relative;
	padding-block: 24px;
	padding-inline: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:8px;
}

.header__logo {
	margin-inline-end: auto;
}

.header__search-btn, .header__menu-btn {
	padding: 12px;
}

.header__search-btn {
	background-color: var(--banner-back);
	border-radius: var(--radius-8);
}

.header__search-btn img {
	opacity: 0.5;
	transition: var(--transition-short);
}

.header__search-btn:is(:hover, :focus-visible) img {
	opacity: 1;
}

.header__menu-btn.active .open-menu, .header__menu-btn .close-menu { 
	display: none; 
}

.header__menu-btn .open-menu, .header__menu-btn.active .close-menu { 
	display: block; 
}

.header__search-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	background-color: var(--background);
	padding: 24px 16px;
	gap: 8px;
	z-index: 1;
	display: none;
}

.header__search-box.active {
	display: flex;
}

.search-wrap {
	position: relative;
	flex-grow: 1;
}

.search-wrap::before {
	position: absolute;
	top: 14px;
	right: 12px;
	content: "";
	width: 20px;
	height: 20px;
	border: 3px solid var(--white);
	border-radius: var(--radius-24);
	border-inline-end-color: transparent;
	animation: loading 500ms linear infinite;
	display: none;
}

.search-wrap.searching::before { display:block; }

@keyframes loading {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}


.input-search {
	background-color: var(--banner-back);
	height: 48px;
	line-height: 48px;
	padding-inline: 44px;
	outline: none;
	border-radius: var(--radius-8);
	transition: var(--transition-short);
}

.input-search::placeholder { 
	color: var(--white-surface-var); 
}

.input-search:hover { 
	box-shadow: 0 0 0 2px var(--white-surface-var);
}

.input-search:focus { 
	box-shadow: 0 0 0 2px var(--white-surface);
	padding-inline: 16px;
}


.loading-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	opacity: 0.5;
	transition: var(--transition-short);
}

.search-wrap:focus-within .loading-icon {
	opacity: 0;
}












